/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/


@keyframes moving {
    from {
        translate: 0px;
    }

    to {
        translate: 4px;
    }
}

@keyframes heartbeat {
    from {
      scale: 1;
    }
    50% {
      scale: 1.5;
    }
    to {
      scale: 1;
    }
}
  
@keyframes sparks {
    from {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

.heart-contour {
  fill: var(--heart_fill-color);
}

.is-liked .heart-contour {
  fill: var(--heart_fill_accent-color);
  transition: fill 0.3s 0.03s;
}

.heart-body {
  fill: transparent;
  transition: fill 0.3s;
}

.card__icon-button:hover .heart-body {
  fill: var(--heart_fill-color);
  transition: fill 0.3s 0.05s;
}

.card__icon-button:active .heart-body {
  --heart_fill-color: var(--heart_fill_accent-color);
  transition: fill 0.3s 0.05s;
}

.is-liked .heart-body {
  --heart_fill-color: var(--heart_fill_accent-color);
  fill: var(--heart_fill-color) ;
}

.heart-center {
  fill: transparent;
  transition: fill 0.3s 0.05s;
}

.card__icon-button:hover .heart-center  {
  fill: var(--heart_fill-color);
  transition: fill 0.3s;
}

.card__icon-button:active .heart-center {
  --heart_fill-color: var(--heart_fill_accent-color);
  transition: fill 0.3s;
}

.is-liked .heart-center {
  --heart_fill-color: var(--heart_fill_accent-color);
  fill: var(--heart_fill-color) ;
}

.heart-sparks  {
  fill: var(--heart_fill-color);
  opacity: 0;
}

.is-liked .heart-sparks {
  animation: sparks 0.3s 0.3s ease-in;
  --heart_fill-color: var(--heart_fill_accent-color);
}

.is-liked {
  animation: heartbeat 0.3s 0.1s ease-in;
}