/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
    --font_weight: 400;
    --font_weight-title: 700;
    --background-image:
        repeating-linear-gradient(90deg, #d3d3d3, rgba(211, 211, 211, 0) 4px), 
        repeating-linear-gradient(#d3d3d3, rgba(211, 211, 211, 0) 4px), 
        linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
    --text-color: #000;
    --background_header: #fff;
    --button_disabled-color: #0009;
    --post_background-color: #fff;
    --blend_mode_button-color: #fff;
    --heart_0_fill-color: #000;
    --heart_1_fill-color: #000;
    --heart_2_fill-color: #000;
    --heart_3_fill-color: #ff0000;

    --heart_fill-color: #000;
    --heart_fill_accent-color: #ff0000;
}


/*---------------------------граница тьмы и света-----------------------------*/

:root.theme-dark {
    --font_weight: 465;
    --font_weight-title: 785;
    --background-image: 
        repeating-linear-gradient(90deg, #000, rgba(0, 0, 0, 0) 4px), 
        repeating-linear-gradient(#000, rgba(0, 0, 0, 0) 4px), 
        linear-gradient(180deg, #007f0c 0%, #004306 100%);
    --text-color: #00cc14;
    --background_header: #000;
    --button_disabled-color: #00cc1499;
    --post_background-color: #000;
    --blend_mode_button-color: #00cc14;
    --heart_0_fill-color: #00cc14;
    --heart_1_fill-color: #000;
    --heart_2_fill-color: #000;
    --heart_3_fill-color: #ff0000;

    --heart_fill-color: #000;
    --heart_fill_accent-color: #ff0000;

}

@media (prefers-color-scheme: dark) {
    :root {
        --font_weight: 465;
        --font_weight-title: 785;
        --background-image: 
        repeating-linear-gradient(90deg, #000, rgba(0, 0, 0, 0) 4px), 
        repeating-linear-gradient(#000, rgba(0, 0, 0, 0) 4px), 
        linear-gradient(180deg, #007F0C 0%, #004306 100%);
        --text-color: #00cc14;
        --background_header: black;
        --button_disabled-color: #00cc1499;
        --post_background-color: black;
        --blend_mode_button-color: #00cc14;
        --heart_0_fill-color: #00cc14;
        --heart_1_fill-color: #000;
        --heart_2_fill-color: #000;
        --heart_3_fill-color: #ff0000;

        --heart_fill-color: #000;
        --heart_fill_accent-color: #ff0000;
    }
}